@model Insert.Models.RateTableModel

@{
    ViewBag.Title = "TableC";
}

<h2>TableC</h2>

<div>
    <h4>RateTableModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TableName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TableName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TradingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TradingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EffectiveDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EffectiveDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rates)
        </dt>

        <dd>
            <table class="table">
                <tr>
                    <th>Currency</th>
                    <th>Code</th>
                    <th>Bid</th>
                    <th>Ask</th>
                </tr>
                @foreach (var rate in Model.Rates)
                {
                    <tr>
                        <td>
                            @rate.Name
                        </td>
                        <td>
                            @rate.Code
                        </td>
                        <td>
                            @rate.Bid
                        </td>
                        <td>
                            @rate.Ask
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
